 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

 }

body
{
    background: white;
}
.navbar {

    display: flex;
    justify-content: center;
}

.navlist {
    display: flex;
    justify-content: center;
}

.navlist a {
    text-decoration: none;
    margin: 3rem;
    font-size: 1.1em;
    color: #333;
    padding: 6px 20px;
    transition: 0.5s;
}


.navlist a:hover {

    color: #0ef;
    background-color: orange;
    
}

#home 
{
    text-decoration: underline;
    color: orange;
    font-size: 4rem;
}

.home {
    display: flex;
    
    border-top: #0ef;
    gap: 2em;
    margin-bottom: 21vh;
}

.home p  {
    margin-top: 10vh;
    white-space: 20px;
    width: 50vh;
    margin-left: 10rem;
}
.football
{
    margin-top: 4vh;
    margin-left: 25vh;
}


#headings
{
    text-decoration: underline;
    color: orange;
    font-size: 4rem;
}


.headings {

    margin-top: 20rem;
}


.paragraph .para 
{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 10px;
    font-stretch:ultra-condensed;

    
        margin: 10px 0;
        padding-left: 20px;
        border: 1px solid #999;
      
}

p {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
    word-spacing: 10px;
    line-height: 5vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }

.hello-there {
    margin-bottom: 21vh;
}


.pics 
{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 10rem;
    
}

.contain-pics 
{   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
    padding: 20px;
    background-color: orange;
    margin-left: 10vh;
}



#pics
{
    text-decoration: underline;
    color: orange;
    font-size: 4rem;
}